### merging datasets version 1 

<p>
    sorry this is late, v1 by rishi, im gonna try to go step by step, later im gonna outline what we need to do remaining
</p>

In [30]:
import numpy as np
import pandas as pd
import datetime

In [2]:
#Datasets with one variable to start out
#UV rays (from 2004?)
uv_who = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/4f02f5180288d04e74897b4574aec2dbea53ec15/BMJ_Data/uv%20WHO%20data.csv')

# BCG immunization rates
bcg_who = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/BCGWHOdata.csv')

#Russian Rainfall 
#NEEDS SOURCE
rus_rain = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/rainfall_1991_2020_RUS.csv')

#Russian Temp
#NEEDS SOURCE
rus_temp = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/Temp_1991_2020_RUS.csv')

#Diabetes Prevelance (World Bank)
diabetes_wb = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/worldbankdiabetesprevelance.csv')

In [3]:
country_codes = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/countries_codes_and_coordinates.csv')
country_codes.describe()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
count,256,256,256,256,256,256
unique,256,244,244,244,176,196
top,Papua New Guinea,"""VC""","""VCT""","""670""","""8""","""30"""
freq,1,3,3,3,8,7

### Editing UV WHO dataset

note: 191 countries

In [4]:
uv_who.head()

    Unnamed: 0  UV radiation
0      Country          2004
1  Afghanistan          4132
2      Albania          2542
3      Algeria          3253
4      Andorra          2469

- we need to :
    - delete the first row
    - rename the first column

In [5]:
uv_who.columns = ["Country", "UV"]
# Ideally we would see what units its measured in and include that in column name

uv_who = uv_who.drop(0)
uv_who.head()

       Country    UV
1  Afghanistan  4132
2      Albania  2542
3      Algeria  3253
4      Andorra  2469
5       Angola  5287

In [6]:
uv_who.describe()
uv = uv_who

                 UV
count    191.000000
mean    4075.753927
std     1451.755858
min      957.000000
25%     2744.500000
50%     4555.000000
75%     5180.000000
max    10224.000000

- we have 191 countries in the UV dataset

### Editing BCG WHO Data
note: 156 countries

In [7]:
bcg_who.head()

,Unnamed: 0,BCG immunization coverage among 1-year-olds (%),BCG immunization coverage among 1-year-olds (%).1,BCG immunization coverage among 1-year-olds (%).2,BCG immunization coverage among 1-year-olds (%).3,BCG immunization coverage among 1-year-olds (%).4,BCG immunization coverage among 1-year-olds (%).5,BCG immunization coverage among 1-year-olds (%).6,BCG immunization coverage among 1-year-olds (%).7,BCG immunization coverage among 1-year-olds (%).8,...,BCG immunization coverage among 1-year-olds (%).30,BCG immunization coverage among 1-year-olds (%).31,BCG immunization coverage among 1-year-olds (%).32,BCG immunization coverage among 1-year-olds (%).33,BCG immunization coverage among 1-year-olds (%).34,BCG immunization coverage among 1-year-olds (%).35,BCG immunization coverage among 1-year-olds (%).36,BCG immunization coverage among 1-year-olds (%).37,BCG immunization coverage among 1-year-olds (%).38,BCG immunization coverage among 1-year-olds (%).39
0,Country,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,...,1989.0,1988.0,1987.0,1986.0,1985.0,1984.0,1983.0,1982.0,1981.0,1980.0
1,Afghanistan,78.0,78.0,78.0,78.0,76.0,74.0,72.0,78.0,71.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,NaN,NaN
2,Albania,99.0,99.0,99.0,99.0,99.0,99.0,99.0,96.0,97.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
3,Algeria,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,NaN,NaN,NaN,NaN,NaN
4,Angola,69.0,72.0,69.0,40.0,64.0,72.0,71.0,73.0,74.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,NaN,NaN,NaN

In [8]:
bcg_who.describe()

,BCG immunization coverage among 1-year-olds (%),BCG immunization coverage among 1-year-olds (%).1,BCG immunization coverage among 1-year-olds (%).2,BCG immunization coverage among 1-year-olds (%).3,BCG immunization coverage among 1-year-olds (%).4,BCG immunization coverage among 1-year-olds (%).5,BCG immunization coverage among 1-year-olds (%).6,BCG immunization coverage among 1-year-olds (%).7,BCG immunization coverage among 1-year-olds (%).8,BCG immunization coverage among 1-year-olds (%).9,...,BCG immunization coverage among 1-year-olds (%).30,BCG immunization coverage among 1-year-olds (%).31,BCG immunization coverage among 1-year-olds (%).32,BCG immunization coverage among 1-year-olds (%).33,BCG immunization coverage among 1-year-olds (%).34,BCG immunization coverage among 1-year-olds (%).35,BCG immunization coverage among 1-year-olds (%).36,BCG immunization coverage among 1-year-olds (%).37,BCG immunization coverage among 1-year-olds (%).38,BCG immunization coverage among 1-year-olds (%).39
count,156.000000,156.000000,156.000000,157.000000,158.000000,158.000000,158.000000,160.000000,160.000000,159.00000,...,135.000000,134.000000,132.000000,132.000000,130.000000,125.000000,117.000000,111.000000,105.000000,79.000000
mean,102.314103,102.923077,103.410256,102.853503,102.386076,103.265823,103.424051,104.031250,103.443750,103.63522,...,95.207407,91.925373,88.189394,84.037879,80.315385,76.160000,76.965812,75.918919,74.076190,82.518987
std,154.919534,154.780825,154.615313,154.228261,153.734767,153.479616,153.401280,152.227917,152.252387,152.61731,...,165.437236,166.338708,168.036216,168.669576,170.450931,174.130068,179.895752,184.852970,190.160949,218.314573
min,25.000000,26.000000,25.000000,18.000000,24.000000,26.000000,27.000000,24.000000,23.000000,23.00000,...,8.000000,14.000000,14.000000,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000
25%,86.000000,89.000000,89.000000,89.000000,87.250000,89.250000,90.250000,90.750000,90.000000,90.00000,...,74.500000,66.000000,60.750000,53.000000,47.750000,42.000000,41.000000,37.500000,32.000000,33.500000
50%,95.000000,95.000000,95.000000,96.000000,96.000000,96.000000,96.000000,96.000000,97.000000,96.00000,...,90.000000,86.000000,80.500000,76.000000,74.500000,66.000000,65.000000,62.000000,59.000000,62.000000
75%,98.000000,98.000000,98.000000,98.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.00000,...,96.000000,95.000000,93.000000,92.000000,89.750000,85.000000,83.000000,83.500000,81.000000,86.500000
max,2019.000000,2018.000000,2017.000000,2016.000000,2015.000000,2014.000000,2013.000000,2012.000000,2011.000000,2010.00000,...,1989.000000,1988.000000,1987.000000,1986.000000,1985.000000,1984.000000,1983.000000,1982.000000,1981.000000,1980.000000

- change format to:
    - Country
    - Year
    - BCG immunization coverage among 1-year-olds

In [9]:
def wide_to_long(df, variable, value):
    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header
    col_names = df.columns.values.tolist()
    return pd.melt(df, id_vars =col_names[0],value_vars = col_names[1:], var_name=variable, value_name=value)

In [10]:
bcg = wide_to_long(bcg_who,"Year", "BCG immunization coverage among 1-year-olds")

,Country,Year,BCG immunization coverage among 1-year-olds
0,Afghanistan,2019,78.0
1,Albania,2019,99.0
2,Algeria,2019,99.0
3,Angola,2019,69.0
4,Argentina,2019,93.0
...,...,...,...
6675,Venezuela (Bolivarian Republic of),1980,72.0
6676,Viet Nam,1980,NaN
6677,Yemen,1980,9.0
6678,Zambia,1980,NaN
6679,Zimbabwe,1980,NaN

### Russian Data

- find source asap and text rishi or make note of it

In [14]:
rus_rain.head()

   Rainfall - (MM)   Year    Statistics  Country  ISO3
0             21.1   1991   Jan Average   Russia   RUS
1             16.0   1991   Feb Average   Russia   RUS
2             16.4   1991   Mar Average   Russia   RUS
3             22.3   1991   Apr Average   Russia   RUS
4             34.3   1991   May Average   Russia   RUS

In [13]:
rus_temp.head()

   Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                    -24.6   1991   Jan Average   Russia   RUS
1                    -24.8   1991   Feb Average   Russia   RUS
2                    -18.4   1991   Mar Average   Russia   RUS
3                     -5.0   1991   Apr Average   Russia   RUS
4                      3.9   1991   May Average   Russia   RUS

In [15]:
rus_rain.describe()

       Rainfall - (MM)         Year
count       360.000000   360.000000
mean         36.938333  2005.500000
std          15.959272     8.667488
min          11.500000  1991.000000
25%          22.675000  1998.000000
50%          33.550000  2005.500000
75%          50.150000  2013.000000
max          70.200000  2020.000000

In [16]:
rus_temp.describe()

       Temperature - (Celsius)         Year
count               360.000000   360.000000
mean                 -5.159722  2005.500000
std                  14.573464     8.667488
min                 -29.700000  1991.000000
25%                 -19.300000  1998.000000
50%                  -4.450000  2005.500000
75%                   8.425000  2013.000000
max                  16.100000  2020.000000

In [17]:
rus_data = pd.merge(rus_rain,rus_temp)

In [18]:
rus_data

,Rainfall - (MM),Year,Statistics,Country,ISO3,Temperature - (Celsius)
0,21.1,1991,Jan Average,Russia,RUS,-24.6
1,16.0,1991,Feb Average,Russia,RUS,-24.8
2,16.4,1991,Mar Average,Russia,RUS,-18.4
3,22.3,1991,Apr Average,Russia,RUS,-5.0
4,34.3,1991,May Average,Russia,RUS,3.9
...,...,...,...,...,...,...
355,55.9,2020,Aug Average,Russia,RUS,13.1
356,44.5,2020,Sep Average,Russia,RUS,7.9
357,39.7,2020,Oct Average,Russia,RUS,-2.3
358,32.5,2020,Nov Average,Russia,RUS,-11.8
359,22.1,2020,Dec Average,Russia,RUS,-23.0

In [39]:
rus_data.Statistics

AttributeError: 'DataFrame' object has no attribute 'Statistics'

In [35]:
month_name = "Jan"
datetime_object = datetime.datetime.strptime(month_name, "%b")
month_number = datetime_object.month
print(month_number)

1

In [33]:
## we can take this oppurtunity to write code to replace instance of month name with a number